roles/**
!/roles/simpl.dependencies
!/roles/simpl.dependencies/**
!/roles/simpl.install
!/roles/simpl.install/**
!/roles/simpl.pipeline
!/roles/simpl.pipeline/**

.vagrant/
*.log
*.retry

inventory/hosts.yml
