[Unit]
Description=SIMPL data retriever
PartOf=simple-pipeline.service
After=simpl-pipeline.service

[Service]
Type=oneshot
WorkingDirectory=/var/simpl/data
ExecStart=/bin/bash /opt/simpl/data_retriever/data_retriever.sh
User=ubuntu

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=simpl-retriever

[Install]
WantedBy=simpl-pipeline.service
