[Unit]
Description=SIMPL report generator
PartOf=simple-pipeline.service
After=simpl-pipeline.service
After=simpl-retriever.service
Requires=simpl-retriever.service

[Service]
Type=oneshot
WorkingDirectory=/var/simpl/reports
ExecStart=/opt/simpl/reports/bin/simplreports.sh \
  --persons  /var/simpl/data/persons.tsv \
  --programs /var/simpl/data/programs.tsv \
  --evals    /var/simpl/data/evals.tsv \
  --specialties /var/simpl/data/specialties.tsv
User=ubuntu

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=simpl-generator

[Install]
WantedBy=simpl-pipeline.service
